
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ERROR IN YOUR OPERATION</h1>
        <p class="lead">@ViewBag.Message</p>
    </div>
</div>
