@model IEnumerable<CoreEntities.ProductCategory>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewProductCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Product Categories</h2>

<p>
    <a asp-action="CreateProductCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="EditProductCategory" asp-route-ProductCategoryId="@item.ProductCategoryId">Edit</a> |
                    <a asp-action="DeleteProductCategory" asp-route-ProductCategoryId="@item.ProductCategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
