@model IEnumerable<CoreEntities.ProductType>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewProductTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Product Types</h2>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
<p>
    <a asp-action="CreateProductTypes">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="EditProductTypes" asp-route-ProductTypeId="@item.ProductTypeId">Edit</a> |
                    <a asp-action="DeleteProductTypes" asp-route-ProductTypeId="@item.ProductTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
