@model CoreEntities.WebsiteUser
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div class="">
    <div class="col-xs-10">
        <h1>User Registration Form</h1>
        <hr />
        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <form asp-controller="WebsiteUser" asp-action="Register" method="post">
            <div class="form-group">

                <label class="has-float-label">
                    First Name

                    <input asp-for="FirstName" type="text" name="FirstName" class="form-control" />

                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </label>
                <br />

                <label class="has-float-label">
                    Last Name

                    <input asp-for="LastName" type="text" name="LastName" class="form-control" />

                    <span asp-validation-for="LastName" class="text-danger"></span>
                </label>
                <br />

                <label class="has-float-label">
                    User Name

                    <input asp-for="UserName" type="text" name="UserName" class="form-control" />

                    <span asp-validation-for="UserName" class="text-danger"></span>
                </label>
                <br />

                <label class="has-float-label">
                    Email

                    <input asp-for="Email" type="text" name="Email" class="form-control" />

                    <span asp-validation-for="Email" class="text-danger"></span>
                </label>
                <br />

                <label class="has-float-label">
                    Password

                    <input asp-for="Password" type="password" name="Password" class="form-control" />

                    <span asp-validation-for="Password" class="text-danger"></span>
                </label>
                <br />

                <input type="submit" class="btn btn-action" value="Submit" />
            </div>


        </form>
    </div>
</div>